<!--.container.mt-4>.row>h3{Listado de estudiantes}+br+table.table>thead+tbody>tr>td*3-->
<div class="container mt-4">
  <div class="row">
    <h3>{{title}}</h3>
    <br>
    <figure>
      <figcaption>Tabla
        <table class="table">
          <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Estado</th>
          </tr>
          </thead>
          <tbody>
          <!--      ngfor-->
          <tr *ngFor="let estudiante of listaEstudiantes;let i = index">
            <td>{{i + 1}}</td>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.estado}}</td>
          </tr>
          </tbody>
        </table>
      </figcaption>
    </figure>
  </div>
</div>
